github "SwiftyJSON/SwiftyJSON"
github "daltoniam/SwiftHTTP"
github "saoudrizwan/Disk"
github "onevcat/Kingfisher"
github "SwipeCellKit/SwipeCellKit"
github "vikmeup/SCLAlertView-Swift" "master"
github "bizz84/SwiftyStoreKit"
github "pkluz/PKHUD"
github "realm/realm-cocoa"
